<app-jumbotron [title]="'Search Team'" [subtitle]="'Search team by country, team name or division'" [showLoginBtn]="false"></app-jumbotron>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <a class="collapsed" href="#collapseTwo" data-bs-toggle="collapse" aria-expanded="true" aria-controls="collapseTwo">
              <span>Components</span>
            </a>
      
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
              <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Custom Components:</h6>
              </div>
            </div>
            <app-list-team></app-list-team>
        </div>
    </div>
</div>