
<div class="jumbotron jumbotron-billboard container mt-4 mb-4" style="background-color:whitesmoke;">
    <div class="row pb-2">
        <div class="col-md-12" style="text-align: center;">
            <h2>{{title}}</h2>
            <p>{{subtitle}}</p>
            <ng-container *ngIf="!loginService.isLogged()">
              <a href="" id="signUp" class="btn btn-primary " style="margin-right: 20px;" routerLink="/login">Sign In</a> 
              <a href="" id="signIn" class="btn btn-success">Sign Up</a> 
          </ng-container> 
          <ng-container *ngIf="loginService.isLogged()">
            <h3 class="text-center">Hi {{loginService.loggedUser()}} You are logged!</h3>
          </ng-container>
        </div>
</div> 